.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.root-grid {
  margin-left: 15px;
  width: 40%;
  display: inline-block;
}
.transfer-list-header {
  padding: 10px 20px;
  border-bottom: 1px solid #e8e8e8;
}

.transfer-list-search {
  margin: 10px 10px 0 10px;
}

.transfer-list-search input {
  width: 100%;
  padding: 5px 0;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #d9d9d9;
}

.transfer-checkbox {
  margin-right: 8px;
}

.transfer-grid {
  width: 40%;
}

.transfer-list-body {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.transfer-list-content {
  list-style-type: none;
  padding: 5px 10px;
  margin-top: 0px;
  margin-bottom: 0;
  height: 250px;
  overflow: auto;
}

.transfer-list-content-item {
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
